USE [master]
GO
/****** Object:  Database [RooChat]    Script Date: 08/08/2010 10:58:19 ******/
CREATE DATABASE [RooChat] ON  PRIMARY 
( NAME = N'RooChat', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLLOCAL\MSSQL\DATA\RooChat.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RooChat_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLLOCAL\MSSQL\DATA\RooChat_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RooChat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RooChat]
GO
/****** Object:  Table [dbo].[Chatrooms]    Script Date: 08/08/2010 10:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chatrooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Url] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Chatrooms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 08/08/2010 10:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Participants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chatroom_id] [int] NOT NULL,
	[session_id] [varchar](500) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[last_seen] [datetime] NOT NULL,
 CONSTRAINT [PK_Participants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 08/08/2010 10:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chat_id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ip] [varchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[SentOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Participants_Chatrooms]    Script Date: 08/08/2010 10:58:21 ******/
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Chatrooms] FOREIGN KEY([chatroom_id])
REFERENCES [dbo].[Chatrooms] ([id])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participants_Chatrooms]
GO
/****** Object:  ForeignKey [FK_Messages_Chatrooms]    Script Date: 08/08/2010 10:58:21 ******/
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Chatrooms] FOREIGN KEY([chat_id])
REFERENCES [dbo].[Chatrooms] ([id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Chatrooms]
GO
