* {margin:0; padding:0}
body{ margin:0; padding: 0; background-color: #99b5e5; font-family: Calibri, Verdana, Sans-Serif; background-image:url(/Content/bg.png); background-repeat:repeat-x;}
h1 { margin: 3px; padding:0; color: #fff; font-family: @Lithos Pro,Serif;}
h2 { margin: 3px; border-bottom: 1px solid #000; }
ol, ul, li {margin-left: 15px; }

#header{ margin-top:0;}
#header a{ color: #fff; text-decoration:none;}
#header p{ margin:0;padding:0; color: #fff; text-decoration:none; font-size:9px;}
#MainContent{ border: 1px solid #000; background-color: #fff; width:90%; margin-top:0; margin: auto; padding: 10px;}
#chatroom-url{ font-size: 10px;float: right;}
a:visited, a:active, a{ color: #184aaf; }
#conversation-container{padding: 10px;}
.conversation-container-javascript{ height: 300px; overflow-y: scroll;  }
#create-form{ margin:10px; }
.message{margin: 0px; clear: both; }
.message h3{ margin:0px; padding:0px; font-size: 10px; float: left; width: 50px; text-align:right; }
.message-content{ margin-left: 55px;border-left: 1px solid #000; padding-left: 3px;  border-bottom: 1px dotted #000;}
.message p{margin:0; padding-bottom: 5px;}
.app-message{ display: inline; padding: 2px; margin: 0px; margin-left: 5px; width:50%;}
#message-sent{ background-color: #99b6e6; border: 1px solid #556688; }
#message-error{ border: 1px solid #885555; background-color: #e69999; }
.message-time{ font-size: 9px; float: right;}

.major-general{ padding: 5px; width: 75%; margin:auto; margin-top: 10px; margin-bottom: 10px;}
#major-message{ background-color: #99b6e6; border: 3px solid #556688; }
#major-error{ border: 3px solid #885555; background-color: #e69999; }
input{ padding: 3px;background-color: #d6e5ff; border:0px; border-bottom: 1px solid #000; }
#messages-container{ margin: 3px; padding: 2px; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
