@model SimpleChat.Models.Message
@{
    Layout = null;
}
<div class="message" id="m-@Model.Id">
    <h3>@Model.Name</h3>
    <div class="message-content">
        @Model.Content
        <div class="message-time">@Model.SentOn.ToShortTimeString()</div>
    </div>
</div>
