@model SimpleChat.Models.Message
<div class="message" id="m-@Model.Id">
    <h3>@Model.Name %></h3>
    <div class="message-content">
        <div class="message-time">@Model.SentOn.ToShortTimeString()</div>
    </div>
</div>
